body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#screen {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid lightgray;
    width: 600px;
    height: 600px;
}
#screen > div {
    width: 1px;
    height: 1px;
    color: white;
    flex: auto;
}
